@import "abstracts/color.css";
@import "base/normalize.css";
@import "base/typography.css";
@import "base/svg-icon.css";


body { font-family: 'Bungee', cursive; overflow-x: hidden; }
.screen-height { height: 100vh; }
.text-center { text-align: center; }
.text-left { text-align: left; }
.v-center { vertical-align: middle; }
span.v-center { display: inline-block; }
.center-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.no-wrap { white-space: nowrap; }
@media (max-width: 360px) {
    .hide-small {
        display: none;
    }
}
.fixed-bottom-right {
    position: fixed;
    bottom: 26px;
    right: 10px;
}
@media (min-width: 850px) {
    .md-flex-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.z-1 { z-index: 1; }
.z-2 { z-index: 2; }
.position-relative { position: relative; }
.padding-30 { padding: 30px; }