:root {
    --black: #222222;
    --white: #ffffff;
    --yellow: #f7df1e;
}

.clr-yellow { color: var(--yellow); }
.clr-white { color: var(--white); }
.clr-black { color: var(--black); }
.bg-yellow { background-color: var(--yellow); }
.bg-white { background-color: var(--white); }
.bg-black { background-color: var(--black); }
.fill-yellow { fill: var(--yellow); }
.fill-white { fill: var(--white); }
.fill-black { fill: var(--black); }